@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,500;1,700&display=swap');

:root {
    --good-aqi-color: #b0e767;
    --medium-aqi-color: #fe9b56;
    --bad-aqi-color: #fe6a69;
    --current-aqi-color: var(--good-aqi-color);
}

body {
    color: #515154;
    font-family: 'Niramit', cursive;
}

.card {
    text-align: center;
}

.aqi {
    height: 150px;
    text-align: center;
    color: #fff;
    background-color: var(--current-aqi-color);
}

.aqi > h1 {
    margin: 0;
    font-size: 3em;
}

.location {
    text-align: center;
    color: #000;
}

.city {
    margin: 0;
    font-size: 2em;
}

.state-country {
    margin-top: 0;
}

.credit {
    margin-top: 10px;
    color: #000;
}

.credit a {
    color: #000;
    text-decoration: none;
}