@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,500;1,700&display=swap');
body {
    font-family: 'Niramit', cursive;
}
.topic {
    text-align: center;
    color: #000;
}
.card {
    text-align: center;
    height: 150px;
}
.credit {
    margin-top: 10px;
    color: #000;
}
.credit a {
    color: #000;
    text-decoration: none;
}